<h1>Edytowany samochód to: {{car.model + car.type}}</h1>

<div class="my-onw-form">
  <form action="" [formGroup]="carForm">

    <div class="row form-group">

      <div class="col-sm-4">
        <label>Marka</label>
        <input formControlName="model" type="text" class="form-control">
        <div *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="alert alert-danger">
          <strong>To pole jest wymagane!</strong>
        </div>
      </div>

      <div class="col-sm-4">
        <label>Model</label>
        <input formControlName="type" type="text" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Rok</label>
        <input formControlName="year" type="text" class="form-control">
      </div>

    </div>


    <div class="row form-group">

      <div class="col-sm-4">
        <label>Numer rejestracyjny</label>
        <input formControlName="licensePlate" type="text" class="form-control">
        <div *ngIf="!carForm.get('licensePlate').valid && carForm.get('licensePlate').dirty"
             class="alert alert-danger">
          <strong>To pole jest wymagane i musi zawierać 3-7 znaki!</strong>
        </div>
      </div>

      <div class="col-sm-4">
        <label>Kolor</label>
        <input formControlName="color" type="text" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Data wypożyczenia</label>
        <input formControlName="rentStart" type="text" class="form-control">
      </div>

    </div>

    <div class="row form-group">

      <div class="col-sm-4">
        <label>Data zwrotu</label>
        <input formControlName="rentEnd" type="text" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Moc silnika</label>
        <input formControlName="power" type="number" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Imię</label>
        <input formControlName="clientFirstName" type="text" class="form-control">
      </div>

    </div>

    <div class="row form-group">

      <div class="col-sm-4">
        <label>Nazwisko</label>
        <input formControlName="clientSecondName" type="text" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Numer telefonu</label>
        <input formControlName="clientPhoneNumber" type="text" class="form-control">
      </div>

      <div class="col-sm-4">
        <label>Adres e-mail</label>
        <input formControlName="clientEmail" type="text" class="form-control">
      </div>

    </div>

    <div class="row form-group">

      <div class="col-sm-4">
        <label>Cena</label>
        <input formControlName="cost" type="number" class="form-control">
      </div>

      <div class="col-sm-4">
        <br>
        <p>Czy auto jest przecenione?
          <input formControlName="ifDiscount" type="checkbox">
        </p>
      </div>

      <div class="col-sm-4">
        <button [disabled]="carForm.invalid" (click)="updateCar()" class="btn btn-primary btn-lg">Edytuj samochód
        </button>
        <button (click)="carForm.reset()" class="btn btn-warning btn-lg">Wyczyść pola
        </button>
      </div>

    </div>

  </form>

</div>
